<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
    <add name="master" connectionString="user id=sa;password=Carnival01;Data Source=10.41.16.175;Database=Carnival_Master_8_2020" />
  </connectionStrings>
</configuration>